---
layout: home
title_localized:
  en: Keswick Hall | Resort & Golf Club | Charlottesville VA
meta_description:
  en: Keswick Hall resort will reopen in late summer 2020. The golf club remains open to members during renovations to preserve and update the historic buildings.
permalink:
meta_tags:
  robots:
---

<div class="splash-wrap align-items-center">
  <div class="splash-wrap__inner">
    <div class="splash-wrap__inner__main">
      <div class="logo">
        <a href="/" title="Keswick Hall">
          <img src="//res.cloudinary.com/traveltripperweb/raw/upload/v1572860776/dhxffggib5ohpjpqkboq.svg" alt="Keswick Hall">
        </a>
      </div>
      <h1>Cultivating the<br>Art of American Hospitality</h1>
      <h2>RECEIVE the latest news about our Reopening in fall 2020 </h2>
      <div class="form-part">
        {% include forms/jotform/newsletter.html %}
      </div>
    </div>
  </div>
</div>

<div class="splash-wrap-mobile">
  <div class="splash-wrap-mobile__header">
    <div class="logo">
      <a href="/" title="Keswick Hall">
        <img src="//res.cloudinary.com/traveltripperweb/raw/upload/v1572860776/dhxffggib5ohpjpqkboq.svg" alt="Keswick Hall">
      </a>
    </div>
  </div>
  <div class="splash-wrap-mobile__image">
    <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1572860754/wutsxkvebvuyks27igsd.jpg" alt="keswick-hall-splash">
  </div>
  <div class="splash-wrap-mobile__content">
    <h1>Cultivating the Art of American Hospitality</h1>
    <h2>RECEIVE the latest news about our Reopening in fall 2020 </h2>
    <div class="form-part">
      {% include forms/jotform/newsletter.html %}
    </div>
  </div>
</div>
