// Home Page Elements
// ==========================================================================

.splash-wrap {
  display: none;
  height: 100%;
  background-image: url('//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1572860754/wutsxkvebvuyks27igsd.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @include media-breakpoint-up(md) {
    display: flex;
  }

  @media (min-height: 752px) {
    height: 100vh;
  }

  &__inner {
    position: relative;
    @include make-container;
    max-width: 1224px;
    text-align: center;

    &__main {
      width: 316px;
      padding: 56px 0;
      background-color: $primary;

      .logo {
        width: 201px;
        margin: 0 auto 80px;

        img {
          width: 100%;
        }
      }

      h1 {
        margin-bottom: 72px;
        padding: 0 24px;
        font-family: $family-primary;
        font-size: $display1-size;
        line-height: 48px;
        color: $white;
      }

      h2 {
        max-width: 280px;
        margin: 0 auto 70px;
        padding: 0 24px;
        font-family: $family-secondary;
        font-size: $display5-size;
        font-weight: 600;
        line-height: 24px;
        color: $white;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      .form-part {
        padding: 0 24px;
      }
    }
  }
}

.splash-wrap-mobile {
  display: none;
  text-align: center;

  @include media-breakpoint-down(sm) {
    display: block;
  }

  &.normal {
    display: block;
  }

  &__header {
    padding: 24px 0 18px;
    background-color: $primary;

    .logo {
      width: 155px;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }
  }

  &__image {
    height: 208px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    padding: 32px 0 24px;
    background-color: $primary;

    h1 {
      max-width: 390px;
      margin: 0 auto 26px;
      margin-bottom: 26px;
      padding: 0 24px;
      font-family: $family-primary;
      font-size: $display2-size;
      line-height: 44px;
      color: $white;
    }

    h2 {
      max-width: 280px;
      margin: 0 auto 40px;
      padding: 0 24px;
      font-family: $family-secondary;
      font-size: $display5-size;
      font-weight: 600;
      line-height: 24px;
      color: $white;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .form-part {
      padding: 0 50px;
    }
  }
}

.form-part {
  .form-group {
    margin-bottom: 24px;

    .form-control {
      height: calc(1.9rem + 2px);
      @include placeholder-text($family-terciary, $display3-size, $white);
      padding-left: 8px;
      font-family: $family-terciary;
      font-size: $display3-size;
      color: $white;
      letter-spacing: .3px;
      background: transparent;
      border: 1px solid $white;
      border-radius: 0;

      &:focus, &:hover {
        box-shadow: none !important;
      }
    }

    button {
      width: 90px;
      font-family: $family-terciary;
      font-size: $display3-size;
      color: $primary;
      letter-spacing: .86px;
      cursor: pointer;
      background-color: $white;
      border: 0;
    }

    &.form-check {
      max-width: 240px;
      margin: 0 auto;
      padding: 0;
      text-align: center;

      label {
        font-family: $family-terciary;
        font-size: $display4-size;
        color: $white;
        letter-spacing: .3px;

        a {
          color: $white;
          text-decoration: underline;
        }
      }

      .text {
        margin-left: 24px;
      }

      .checkmark {
        top: -2px;
        left: 0;
      }
    }
  }
}
