<form action="https://submit.jotform.me/submit/{{ site.data.forms.jotform.contact-id }}/" method="post" name="form_{{ site.data.forms.jotform.contact-id }}"
    id="{{ site.data.forms.jotform.contact-id }}" accept-charset="utf-8">
    <input type="hidden" name="formID" value="{{ site.data.forms.jotform.contact-id }}">
    <div class="form-container">
      <div class="form-group half">
        <input type="text" name="q5_name" class="form-control" placeholder="Your Name" required>
      </div>
      <div class="form-group half">
        <input type="email" name="q3_email" class="form-control" placeholder="Your Email" required>
      </div>
      <div class="form-group">
        <textarea name="q6_comments" class="form-control" placeholder="Comments"></textarea>
      </div>
      <div class="form-group form-check mb-3">
        <label class="cstm-checkbox">
          <span class="text">I agree to the <a href="/privacy/">Privacy Policy</a> & <a href="/accessibility/">Accessibility Statement</a></span>
          <input type="checkbox" name="q7_iAgree[]" class="" value="YES" aria-label="I agree to the Terms of Use & Accessibility Statement" required>
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="form-group">
        <button type="submit" id="input_2">Submit</button>
      </div>
    </div>

    <input type="hidden" id="simple_spc" name="simple_spc" value="{{ site.data.forms.jotform.contact-id }}">

    <script type="text/javascript">
        document.getElementById("si" + "mple" + "_spc").value = "{{ site.data.forms.jotform.contact-id }}-{{ site.data.forms.jotform.contact-id }}";
    </script>
</form>

<script type="text/javascript">JotForm.ownerView=true;</script>
