<form action="https://submit.jotform.me/submit/{{ site.data.forms.jotform.newsletter-id }}/" method="post" name="form_{{ site.data.forms.jotform.newsletter-id }}" accept-charset="utf-8">
    <input type="hidden" name="formID" value="{{ site.data.forms.jotform.newsletter-id }}">
    <div class="form-group d-flex justify-content-center">
      <input type="email" class="form-control" name="q3_email" placeholder="Email Contact" aria-label="Enter Your Email Contact" required>
      <button type="submit">sign up</button>
    </div>
    <div class="form-group form-check">
      <label class="cstm-checkbox">
        <span class="text">I agree to the <a href="/privacy/">Privacy Policy</a> & <a href="/accessibility/">Accessibility Statement</a></span>
        <input type="checkbox" name="q4_iAgree[]" class="" value="YES" required aria-label="I agree to the Terms of Use & Accessibility Statement">
        <span class="checkmark"></span>
      </label>
    </div>
    <script type="text/javascript">
        document.getElementById("si" + "mple" + "_spc").value = "{{ site.data.forms.jotform.newsletter-id }}-{{ site.data.forms.jotform.newsletter-id }}";
    </script>
</form>

<script type="text/javascript">JotForm.ownerView=true;</script>
